<div class="container" ng-controller="home">
    <br><br><br>
    <div class="row text-center">
        <img src="images/watson_logo.png" alt="IBM Watson" class="img-responsive" width="350" height="350" style="margin: 0 auto;">
    </div>
    <br><br>
    <div class="row text-center">
        <span style="color: #7F7F7F; font-weight: bold; font-size: large;">GBS Brasil</span>
    </div>
</div>