<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Acurácia</a></li>
        <li class="active">Bleu</li>
    </ol>
    <span style="font-size: small; color: red;">em construção</span>
</div>